*{
    margin: 0;
    padding: 0;
}
body {
height: 100vh;
padding: 5px;
background: linear-gradient(-45deg, #fee1e9 0%, #edd5e1 50%, #aed0db 100%);
}
.tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}
.separator {
    margin: 0 5px;
    font-size: 30px;
    color: gray;
}
.tab {
    display: flex;
    align-items: center;
    font-size: 30px;
    border: none;
    background: transparent;
    font-family: "Open Sans";
    color: gray;
    cursor: pointer;  
}
.cart-tab::after {
    content: attr(data-goods-count);
    display: flex;  
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    color:white;
    font-size: 13px;
    background: #c30e0e;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
.tab.active{
    /* pointer-events: none; */
    color: #2196f3
}
.tab:hover{
    color: #1771b9;
}
.img{
    display: block;
    height: 100px;
    width: 250px;
    background: rgb(167, 255, 236);
}
.product-items{
    display: flex;
    align-items: center;
    justify-content: center;
}
.product_item {
    width: 250px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #7a7a7a;
    border-radius: 5px;
    background: white;
    font-family: "Open Sans";
    transition: 0.3s ease;
    overflow: hidden;

}
.product_list{
    background: #fafafa;
    padding: 15px 0;
}
.product_list h3{
    font-size: 18px;
    font-weight: 400;
    color: #444;
    margin: 0 0 10px 0;
    
}

.price {
    color: #fc5a5a;
    margin-top: 0px;
    margin-bottom: 12px;
}
.button{
    padding: 6px 12px;
    background: #ccc;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    transition: 0.3s ease;
    border: none;
    cursor: pointer;
}
button:hover{
    background: #fc5a5a;
}

.cart_items{
    display: flex;
    flex-direction: column;
    gap: 8px;


}
.cart_item{
display: grid;
grid-template-columns: repeat(3, 1fr);
}
.cart_item_price{
font-weight: bold;
}